body {
 /* background-color: firebrick;*/
 background-color: lightblue;
}
th {
    text-align: center;
    height: 25px;
}
tr {
    text-align: center;
    height: 20px;
    padding: 0;
}
.table td, .table th {
    padding: 0px;
}
